body{

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7f191b+0,000000+100 */
background: #7f191b; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #7f191b 0%, #000000 90%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #7f191b 0%,#000000 90%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #7f191b 0%,#000000 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f191b', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    
}